<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>direct.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,36},{29,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,63}}</string>
                <key>sourceSize</key>
                <string>{29,63}</string>
            </dict>
            <key>edge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,116},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>edge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,116},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>goNext.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,36},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>goPre.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,36},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>goldBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,116},{119,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,108}}</string>
                <key>sourceSize</key>
                <string>{119,108}</string>
            </dict>
            <key>headBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,238},{39,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,152}}</string>
                <key>sourceSize</key>
                <string>{39,152}</string>
            </dict>
            <key>mine1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,36},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,72}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>mine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,36},{98,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,73}</string>
            </dict>
            <key>mine3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{113,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,83}}</string>
                <key>sourceSize</key>
                <string>{113,83}</string>
            </dict>
            <key>mine4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,36},{97,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,78}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>mineBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,36},{85,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,56}}</string>
                <key>sourceSize</key>
                <string>{85,56}</string>
            </dict>
            <key>minebtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,36},{85,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,56}}</string>
                <key>sourceSize</key>
                <string>{85,56}</string>
            </dict>
            <key>mineenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,36},{155,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,69}}</string>
                <key>sourceSize</key>
                <string>{155,69}</string>
            </dict>
            <key>mingbtn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,238},{338,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,138}}</string>
                <key>sourceSize</key>
                <string>{338,138}</string>
            </dict>
            <key>plant1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,238},{252,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,122}}</string>
                <key>sourceSize</key>
                <string>{252,122}</string>
            </dict>
            <key>plant2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,36},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>soil0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>soil0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>soil0H.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>soil0HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>soil0HU.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>soil0V.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,116},{30,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,120}}</string>
                <key>sourceSize</key>
                <string>{30,120}</string>
            </dict>
            <key>soil0VL.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>soil0VR.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>soil1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,116},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>soil1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>soil1H.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>soil1HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>soil1HU.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>soil1V.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,238},{32,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,120}}</string>
                <key>sourceSize</key>
                <string>{32,120}</string>
            </dict>
            <key>soil1VL.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>soil1VR.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>soil2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,116},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>soil2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>soil2H.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>soil2HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>soil2HU.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>soil2V.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,238},{32,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,120}}</string>
                <key>sourceSize</key>
                <string>{32,120}</string>
            </dict>
            <key>soil2VL.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>soil2VR.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>soil3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,116},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>soil3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>soil3H.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>soil3HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>soil3HU.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>soil3V.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,116},{32,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,120}}</string>
                <key>sourceSize</key>
                <string>{32,120}</string>
            </dict>
            <key>soil3VL.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>soil3VR.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minelist.png</string>
            <key>size</key>
            <string>{953,397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d28a96fa9b2338ea08ff94bead502cc9:3d4adba65260e6b87fcd873339d07179:682e1a66ae5244ab8e838b54db688107$</string>
            <key>textureFileName</key>
            <string>minelist.png</string>
        </dict>
    </dict>
</plist>
